<h1>Afrekenen</h1>

<p>Kies hoe je wil verdergaan:</p>

<p>
  <a href="?page=login" style="display:inline-block; padding:10px 14px; border:1px solid #000; text-decoration:none;">
  Ik heb een account</a>
</p>

<p>
  <a href="?page=checkout_guest_form" style="display:inline-block; padding:10px 14px; border:1px solid #000; text-decoration:none;">
    Ik heb geen account
  </a>
</p>

<p><a href="?page=products">Terug naar pizza’s</a></p>