<h1>Pizzeria</h1>

<p>
  Welkom bij <strong>Pizzeria Xander</strong> 🍕
  We maken pizza’s vers op bestelling en leveren in geselecteerde postcodes.
</p>

<p style="margin: 18px 0;">
  <a
    href="?page=products"
    style="
      display:inline-block;
      padding: 14px 22px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 10px;
      background: #111;
      color: #fff;
      text-decoration: none;
    "
  >
    🍕 Druk om de knop om pizza te bestellen!
  </a>
</p>

<h2>Wie zijn wij</h2>
<p>
  Wij zijn een lokale pizzeria met focus op snelle levering, verse ingrediënten en klassiekers zoals Margherita en Pepperoni.
  Bestellen doe je eenvoudig via deze website.
</p>

<h2>Lopende promoties</h2>
<ul>
  <li><strong>Promo op geselecteerde pizza’s ( momenteel alleen op Hawaii )</strong> (wordt automatisch toegepast als je promo-eligible bent).</li>
  <li>Nieuwe klanten: snelle checkout als gast of maak meteen een account aan.</li>
</ul>

<h2>Voorwaarden</h2>
<ul>
  <li>Levering enkel in postcodes(3000, 3080, 2000, 1000) waar we leveren (wordt gecontroleerd bij checkout).</li>
  <li>Betaling/afhandeling volgens de opdrachtinstellingen van de applicatie.</li>
  <li>Opmerkingen voor de koerier kan je invullen bij “Overzicht bestelling”.</li>
  <li>Test xander.vanmalder@xander.com / wachtwoord : test123 </li>
</ul>


<h2>Contact</h2>
<ul>
  <li>Telefoon: 02 123 45 67 (fake) </li>
  <li>E-mail: xandervanmalder@gmail.cm</li>
  <li>Adres: Dorpsstraat 1 (fake), 3080 Tervuren</li>
</ul>
